[alias]
    co = checkout
    br = branch
    st = status
    sbr = submodule foreach --recursive git branch
    sst = submodule foreach --recursive git status
    lol = log --oneline
    dw = diff --word-diff
[init]
    defaultBranch = main
[merge]
    conflictstyle = diff3
